div {
	font-family: helvetica;
	font-size: 13px;
	padding: 10px 10px;
}

pre, code {
	background-color: lightgrey;
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	border-radius: 0 !important;
	font-size: 0.7em;
}

h1 {
	background: #F3F3F3; /* Light grey background */
	font-weight: bold; /* Make sure they're bold */
	font-size: 16px;
}

li {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	font-size: 13px;
}

table {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	width: 800px;
	border-collapse:
	collapse; border-spacing: 0;
	margin: auto;
}

td, th { border: 1px solid #CCC;
	height: 30px; /* Make cells a bit taller */
	font-size: 13px;
}

th {
	background: #F3F3F3; /* Light grey background */
	font-weight: bold; /* Make sure they're bold */
}

td {
	background: #FAFAFA; /* Lighter grey background */
	text-align: center; /* Center our text */
}

.content {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

div.header {
	font-size: 60px;
}

div.link {
	font-size: 13px;
	text-align: center
}

div.badurl {
	font-size: 24px;
	text-align: center
}

.info {
	font-family: helvetica;
	font-size: 13px;
	font-weight: bold; /* Make sure they're bold */
}

p.c {
	font-weight: bold; /* Make sure they're bold */
	font-size: 40px; /* Make sure they're bold */
	text-align: center;
	text-decoration:underline;
}

.logtable {
	background-color: #eee;
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	border-radius: 2px;
	border: 2px solid #000;
	border-collapse: collapse;
	padding: 10px 10px;
	margin: 30px;
	font-size: 0.7em;
}
