<!DOCTYPE html>
<html lang="en">
<head>
	<title>IBART - I Build And Run Tests</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src = "{{ url_for('static', filename = 'main.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<p class="c">
		I Build And Run Tests!
	</p>
	<div class="badurl">
	404: Sorry couldn't find the page!
	</p>
	<div class="link">
		<a href="{{url_for('main_page')}}">Go to main page</a>
	</div>
</body>
</html>
