<!DOCTYPE html>
<html lang="en">
<head>
	<title>IBART - PR#{{ pr_number }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src = "{{ url_for('static', filename = 'main.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<a href="https://github.com/jbech-linaro/ibart"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	<p class="c">
		I Build And Run Tests!
	</p>
	<div class="link">
		<a href="{{url_for('main_page')}}">Go to main page</a>
	</div>
	<table>
		<tr>
			<th>Job ID / Log</th>
			<th>Commit</th>
			<th>Git</th>
			<th>PR#</th>
			<th>Date</th>
			<th>Runtime</th>
			<th>Status</th>
			<th>Command</th>
		</tr>
		{% for l in sd %}
		{% set id,   pr_id, sha1, full_name, pr_number, date, run_time, status =
		       l[0], l[1],  l[2], l[3],      l[4],      l[5], l[6],     l[7] %}
		<tr>
			<td><a href="{{ project }}/{{ pr_number }}/{{ pr_id }}/{{ sha1 }}">{{ id }}</a></td>
			<td><a href="https://github.com/{{ full_name }}/commit/{{ sha1 }}">{{ sha1|truncate(12) }}</a></td>
			<td><a href="https://github.com/{{ full_name }}">{{ full_name }}</a></td>
			<td><a href="https://github.com/{{ full_name }}/pull/{{ pr_number }}">{{ pr_number }}</a></td>
			<td>{{ date }}</td>
			<td>{{ run_time }}</td>
			<td>{{ status }}</td>
			<td><a href="{{ url_for('stop_page', pr_id=pr_id, pr_sha1=sha1) }}">[stop]</a> |
				<a href="{{ url_for('restart_page', pr_id=pr_id, pr_sha1=sha1) }}">[restart]</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
